<h2 class="text-center">Employees Details</h2>

<!--------------------- HIDE BUTTONS ----------------------------->

<div>
  <button class="btn btn-primary mx-4" (click)="displayForm()">
    Add Employee
  </button>
  <button class="btn btn-primary mx-4" (click)="displayList()">
    Show Employees
  </button>
</div>

<div *ngIf="isShowForm">
    <h2 class="text-center">Bank Employee Form</h2>
  
    <form (ngSubmit)="addEmployee()" #custForm="ngForm">
    <!-- Employee Name -->
    <div class="form-group">
        <label for="cname">Employee Name:</label>
        <input
          type="text"
          class="form-control"
          placeholder="Employee Name"
          id="cname"
          [(ngModel)]="employeeName"
          name="employeeName"
          #ename="ngModel"
        />
        <div class="alert alert-danger" *ngIf="ename.touched && !ename.valid">
          Employee Name is required.
        </div>
      </div>
      <!-- Employee Email -->
      <div class="form-group">
        <label for="cemail">Employee Email:</label>
        <input
          type="text"
          class="form-control"
          placeholder="Employee Email"
          id="cemail"
          [(ngModel)]="employeeEmail"
          name="employeeEmail"
          #email="ngModel"
        />
        <div class="alert alert-danger" *ngIf="ename.touched && !ename.valid">
          Employee Mail is required.
        </div>
      </div>
      <!-- Employee Phone -->
      <div>
        <label for="cphone">Employee Phone:</label>
        <input
          type="text"
          class="form-control"
          placeholder="Employee Phone"
          id="cphone"
          [(ngModel)]="employeePhone"
          name="employeePhone"
          #eph="ngModel"
        />
        <div class="alert alert-danger" *ngIf="eph.touched && !eph.valid">
          Employee Phone is required.
        </div>
      </div>
      <!-- Address Proof Type -->
      <div class="form-group">
        <label for="eidtype">Address Proof Type :</label>
        <select
          class="form-select"
          type="number"
          id="eidtype"
          [(ngModel)]="employeeAddProofType"
          name="employeeAddProofType"
          #etype="ngModel"
          required
        >
          <option [ngValue]="null" selected> -- Select Address Proof Type -- </option>
          <option *ngFor="let type of addressTypes" [ngValue]="type">
            {{ type }}
          </option>
        </select>
        <div class="alert alert-danger" *ngIf="(etype.touched && !etype.valid)">
          Please select a bank.
        </div>
      </div>
      <!-- Address Proof No -->
      <div class="form-group">
        <label for="eidno">Address Proof Number:</label>
        <input
          type="text"
          class="form-control"
          placeholder="Address Proof Number"
          id="eidno"
          [(ngModel)]="employeeAddProofNo"
          name="employeeAddProofNo"
          #apn="ngModel"
        />
        <div class="alert alert-danger" *ngIf="apn.touched && !apn.valid">
          Id Proof No is required.
        </div>
      </div>
      <!-- Pancard -->
      <div>
        <label for="cpan">Branch Id:</label>
        <input
          type="text"
          class="form-control"
          placeholder="Branch Id"
          id="cpan"
          [(ngModel)]="branchId"
          name="branchId"
          #bid="ngModel"
        />
        <div class="alert alert-danger" *ngIf="bid.touched && !bid.valid">
            Branch Id is required.
          </div>
      </div>
      <div class="form-group">
        <label for="erole">Employee Role:</label>
        <select
          class="form-select"
          type="number"
          id="erole"
          [(ngModel)]="employeeRole"
          name="employeeRole"
          #eroll="ngModel"
          required
        >
          <option [ngValue]="null" selected> -- Select Employee Role -- </option>
          <option *ngFor="let type of assignRole" [ngValue]="type">
            {{ type }}
          </option>
        </select>
        <div class="alert alert-danger" *ngIf="eroll.touched && !eroll.valid">
          Employee Role is required.
        </div>
      </div>
      <!-- Submit -->
      <button
        type="submit"
        class="btn btn-primary m-2"
        [disabled]="!custForm.form.valid"
      >
        Submit
      </button>
    </form>
  </div>



  <div *ngIf="isShowList">
    <h4 class="text-center mb-4">Bank List</h4>
    <div *ngIf="this.employees.length === 0; else showCustomers">
      <h6>No Employees are Added!!! Please add an Employee</h6>
    </div>
    <ng-template #showCustomers>
      <table class="table table-bordered border-dark">
        <thead>
          <tr>
            <th>Employee Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>PhoneNo</th>
            <th>Role</th>
            <th>AddressProof</th>
            <th>Branch Id</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{ employee.employeeId }}</td>
            <td>{{ employee.employeeName }}</td>
            <td>{{ employee.employeeEmail }}</td>
            <td>{{ employee.employeePhone }}</td>
            <td>{{ employee.employeeRole }}</td>
            <td>{{ employee.addressProofIdType }}</td>
            <td>{{ employee.branch.branchId }}</td>
            <td>
              <button class="btn btn-sm" (click)="updateEmployee(employee)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-pencil-square"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                  />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </div>