<div class="flex-shrink-0 p-3">
    <div class="text-center">
        <h1>Clerk</h1>
        <br>
        <button class="btn btn-primary" (click)="setDepositPage()">Make Deposit</button>
        <!-- <a class="btn btn-primary" href="deposit.html" target="_self">Make Deposit</a> -->
        <br><br>
        <button class="btn btn-primary" (click)="setDepositPage()">Make Withdrawal</button>
        <!-- <a class="btn btn-primary" href="deposit.html" target="_self">Make Withdrawal</a> -->
        <br><br>
        <button class="btn btn-primary" (click)="setLoanPage()">Request Loan</button>
        <!-- <a class="btn btn-primary" href="loan.html" target="_self">Request Loan</a> -->
        <br><br>
        <button class="btn btn-primary" (click)="setCustomerPage()">Manage Customers</button>
        <!-- <a class="btn btn-primary" href="customer.html" target="_self">Manage Customer</a> -->
        <br><br>
        <button class="btn btn-primary" (click)="setAccountPage()">Manage Account</button>
        <!-- <a class="btn btn-primary" href="account.html" target="_self">Manage Account</a> -->
    </div>
</div>

<!-- <app-deposit *ngIf="DepositPage"></app-deposit>
<app-loan *ngIf="LoanPage"></app-loan>
<app-customer *ngIf="CustomerPage"></app-customer>
<app-account *ngIf="AccountPage"></app-account> -->
