<h2 class="text-center">Bank Details</h2>

<a routerLink="/bank/add" class="btn btn-primary">Add Bank</a>

<h4 class="text-center mb-4">Bank List</h4>
<div *ngIf="this.banks.length === 0; else showBanks">
  <h6>No Banks are Added!!! Please add a Bank</h6>
</div>
<ng-template #showBanks>
  <table class="table table-bordered border-dark">
    <thead>
      <tr>
        <th>Bank Code</th>
        <th>Bank Name</th>
        <th>Bank Address</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bank of banks">
        <td>{{ bank.bankCode }}</td>
        <td>{{ bank.bankName }}</td>
        <td>{{ bank.bankAddress }}</td>
        <td>
          <button class="btn btn-sm" (click)="updateBank(bank)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pencil-square"
              viewBox="0 0 16 16"
            >
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
              />
              <path
                fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
              />
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
